    <div data-role="panel" id="<?echo $left_panel_href?>" data-position="left" data-theme="a" data-display="push">
  	  <ul data-theme="c" data-role="listview" data-split-icon="cart" data-inset="true" data-filter="true">
  	     <li data-role="list-divider">Produtos</li>
          <li>
            <a href="#"><img src="../uploads/2013/06/21/ram.png"><h2>Memória ram</h2><p>R$ 10.00</p></a>
            <a href="#purchase" data-rel="popup" data-position-to="window" data-transition="pop">Colocar no Carrinho</a>
          </li>
      </ul>
    </div>
