    <div data-role="popup" id="popupMenu" data-theme="b">
      <div data-role="popup" id="popupCheckout" data-theme="b" class="ui-corner-all">
        <form name="bcash" action="https://www.bcash.com.br/checkout/pay/" method="post">
          <div style="padding:10px 20px;">
            <h3>Finalizando compra</h3>
            
<input name="email_loja" type="hidden" value="manaphys@gmail.com"> 
<input name="produto_codigo_1" type="hidden" value="1001"> 
<input name="produto_descricao_1" type="hidden" value="Camisa Seleção Brasileira Oficial">
<input name="produto_qtde_1" type="hidden" value="1"> 
<input name="produto_valor_1" type="hidden" value="1" > 
<input name="produto_extra_1" type="hidden" value="Camiseta Dry Fit" > 
<input name="produto_codigo_2" type="hidden" value="1002"> 
<input name="produto_descricao_2" type="hidden" value="Raquete de Tênis">
<input name="produto_qtde_2" type="hidden" value="1"> 
<input name="produto_valor_2" type="hidden" value="1" > 
<input name="produto_extra_2" type="hidden" value="Feita de Fibra de Carbono" > 
<input name="produto_codigo_3" type="hidden" value="1003"> 
<input name="produto_descricao_3" type="hidden" value="Celular com memória">
<input name="produto_qtde_3" type="hidden" value="1"> 
<input name="produto_valor_3" type="hidden" value="1" > 
<input name="produto_extra_3" type="hidden" value="2 GB" > 
<input name="tipo_integracao" type="hidden" value="PAD">
<input name="frete" type="hidden" value="1">
<input name="id_pedido" type="hidden" value="1001"> 
<input name="email" type="hidden" value="" > 
<input name="nome" type="hidden" value="João da Silva">
<input name="rg" type="hidden" value="12345678900">
<input name="data_emissao_rg" type="hidden" value="24/02/1987">
<input name="orgao_emissor_rg" type="hidden" value="SSP">
<input name="estado_emissor_rg" type="hidden" value="SP">
<input name="cpf" type="hidden" value="98765432199">
<input name="sexo" type="hidden" value="M">
<input name="data_nascimento" type="hidden" value="06/10/1980">
<input name="telefone" type="hidden" value="1198745632"> 
<input name="celular" type="hidden" value="1199996666"> 
<input name="endereco" type="hidden" value="Av Paulista, 1070">
<input name="complemento" type="hidden" value="Sala 10">
<input name="bairro" type="hidden" value="Centro">
<input name="cidade" type="hidden" value="São Paulo">
<input name="estado" type="hidden" value="SP">
<input name="cep" type="hidden" value="04001001">
<input name="free" type="hidden" value="">
<input name="tipo_frete" type="hidden" value="sedex">
<input name="desconto" type="hidden" value="3.00">
<input name="acrescimo" type="hidden" value="1.00">
<input name="url_retorno" type="hidden" value="http://150.164.100.10:54321/administrador/clv/php/bcash_retorno.php">
<input name="url_aviso" type="hidden" value="https://www.enderecodasualoja.com.br/aviso.php">
<input name="cliente_razao_social" type="hidden" value="Loja do Cliente">
<input name="cliente_cnpj" type="hidden" value="11222333000111">
<input name="parcela_maxima" type="hidden" value="10">
<input name="meio_pagamento" type="hidden" value="1">
<input name="redirect" type="hidden" value="true">
<input type="image" src="https://www.bcash.com.br/webroot/img/bt_comprar.gif" value="Comprar" alt="Comprar" border="0" align="absbottom" >

          </div>
        </form>
      </div>
    </div>
      
    <div data-role="panel" id="cart" data-position="right" data-theme="a" data-display="push">      
      <ul data-role="listview" data-inset="true" data-divider-theme="d" data-count-theme="c" data-filter="true">
          <li data-role="list-divider">Carrinho</li>        

      <?php
        $total = 0;
        $delete = '';
        if (mysqli_num_rows($car) > 0) 
        {
          while ($row = mysqli_fetch_array($car, MYSQLI_ASSOC)) 
          {
            $subtotal = $row['qtd'] * $row['id_prd'];
            echo '
              <li data-theme="a" data-role="list-divider">'.$row['id_prd'].'</li>
              <li data-icon="delete">
              <a style="text-decoration:none" href="#delete'.$row['id_'].'" data-rel="popup" data-position-to="window" data-transition="pop">
              R$ '.$subtotal.'  
              <span class="ui-li-count">
              '.$row['qtd'].'x R$ '.$row['id_prd'].'
              </span>
              </a>
            </li>';
            $total += $subtotal;
            

            echo '<div data-role="popup" id="delete' . $row['id_'] . '" data-theme="c" data-overlay-theme="d" class="ui-content" style="max-width:440px; padding-bottom:2em;">
                    <h3>Removendo ' . $row['id_prd'] . '</h3>
                    <p>Qual é a quantidade?</p>
                    <form name="add" action="index.php?id=' . $row['id_'] . '&action=rm" method="post">
                      <input type="range" name="slider" value="' . $row['qtd'] . '" min="0" max="' . $row['qtd'] . '" data-highlight="true" />
                      <button type="submit" name="submit" value="submit" data-theme="b">Remover</button>
                    </form>
            </div>';
        

          }

          //$shipping = get_shipping($total);
          //$total += $shipping;
                    
          echo '<li data-role="list-divider">Total</li>
          <li data-icon="check">
            <a style="text-decoration:none" href="#popupCheckout" data-rel="popup" data-position-to="window" data-transition="pop">
               R$ '.$total.'
              <span class="ui-li-count">
                Finalizar compra
              </span></a>
          </li>';	
        }
        else
        {
          echo '<li data-icon="check">
            <a style="text-decoration:none" href="index.php" data-transition="pop">
               R$ 0.00
              <span class="ui-li-count">
                Vazio
              </span></a>
          </li>';
        }
      ?>

       </ul>
    </div>
