    <div data-role="panel" id="cart" data-position="right" data-theme="a" data-display="push">   

<div data-role="popup" id="popupMenu" data-theme="c">
        <ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="c">
            <li data-role="divider" data-theme="a">Escolha o método de entrega</li>
            <li><a style="text-decoration:none" href="./">PAC</a></li>
            <li><a style="text-decoration:none" href="./">SEDEX</a></li>
            <li><a style="text-decoration:none" href="./">SEDEX 10</a></li>
            <li><a style="text-decoration:none" href="./">SEDEX A COBRAR</a></li>
        </ul>
</div>
   
      <ul data-role="listview" data-inset="true" data-divider-theme="d" data-count-theme="c" data-filter="true">
          <li data-role="list-divider">Carrinho</li>        

      <?php
        $total = 0;
        $delete = '';
        $bcash='
         <div data-role="popup" id="popupMenu" data-theme="b">
         <div data-role="popup" id="popupCheckout" data-theme="b" class="ui-corner-all">
         <form name="bcash" action="https://www.bcash.com.br/checkout/pay/" method="post">
          <div style="padding:10px 20px;">
            <h3>Finalizando</h3>
<input name="email_loja" type="hidden" value="manaphys@gmail.com">
<input name="url_retorno" type="hidden" value="http://150.164.100.10:54321/administrador/clv/php/bcash_retorno.php">
<input name="url_aviso" type="hidden" value="https://www.enderecodasualoja.com.br/aviso.php">
            ';
        if (!empty($car)) 
        {
          $contador = 1;
          foreach($car as $row) 
          {
            $subtotal = $row['qtd'] * $row['prc'];
            echo '
              <li data-theme="a" data-role="list-divider">'.$row['nme'].'</li>
              <li data-icon="delete">
              <a style="text-decoration:none" href="#delete'.$row['id_'].'" data-rel="popup" data-position-to="window" data-transition="pop">
              R$ '.number_format($subtotal, 2, '.', '').'
              <span class="ui-li-count">
              '.$row['qtd'].'x R$ '.$row['prc'].'
              </span>
              </a>
            </li>';
            $total += $subtotal;
            

            echo '<div data-role="popup" id="delete' . $row['id_'] . '" data-theme="d" data-overlay-theme="b" class="ui-content" style="max-width:440px; padding-bottom:2em;">
                    <h3>Removendo ' . $row['nme'] . '</h3>
                    <p>Qual é a quantidade a ser removida?</p>
                    <form name="rm" action="index.php?id=' . $row['id_'] . '&action=rm" method="post">
                      <input type="range" name="slider" value="' . $row['qtd'] . '" min="1" max="' . $row['qtd'] . '" data-highlight="true"/>
                      <button type="submit" name="submit" value="submit" data-theme="d">Remover</button>
                    </form>
            </div>';
            
            $bcash .= ' 
<input name="produto_codigo_'.$contador.'" type="hidden" value="'.$row['id_prd'].'"> 
<input name="produto_descricao_'.$contador.'" type="hidden" value="'.$row['nme'].'">
<input name="produto_qtde_'.$contador.'" type="hidden" value="'.$row['qtd'].'"> 
<input name="produto_valor_'.$contador.'" type="hidden" value="'.$row['prc'].'" > 
<input name="produto_extra_'.$contador.'" type="hidden" value="extra" >
'; 
            $contador++;


          }


          $frete = '26';//get_shipping($total);
          $total += $frete;
          
$bcash .= '
<input name="frete" type="hidden" value="'.$frete.'">
<input name="id_pedido" type="hidden" value="'.rand().'">
<input name="tipo_frete" type="hidden" value="sedex">
<input name="desconto" type="hidden" value="3.00">
<input name="acrescimo" type="hidden" value="1.00">
<input name="parcela_maxima" type="hidden" value="10">
<input name="meio_pagamento" type="hidden" value="1">
';


$bcash .= ' 
<input name="email" type="hidden" value="bla@ble.com" >
<input name="cpf" type="hidden" value="06643071674">
<input name="nome" type="hidden" value="João da Silva">
<input name="telefone" type="hidden" value="3188410209">
<input name="cep" type="hidden" value="31050540">
<input name="endereco" type="hidden" value="Av Paulista, 1070">
<input name="complemento" type="hidden" value="Sala 10">
<input name="bairro" type="hidden" value="Centro">
<input name="cidade" type="hidden" value="São Paulo">
<input name="estado" type="hidden" value="SP">
';

/*
$bcash .= '
<input name="rg" type="hidden" value="">
<input name="data_emissao_rg" type="hidden" value="">
<input name="orgao_emissor_rg" type="hidden" value="">
<input name="estado_emissor_rg" type="hidden" value="">
<input name="sexo" type="hidden" value="">
<input name="data_nascimento" type="hidden" value="">
<input name="celular" type="hidden" value="1199996666"> 
<input name="cliente_razao_social" type="hidden" value="Loja do Cliente">
<input name="cliente_cnpj" type="hidden" value="11222333000111">
';
*/

$bcash .= '
<input name="redirect" type="hidden" value="true">
<input type="image" src="https://www.bcash.com.br/webroot/img/bt_comprar.gif" value="Pagar" alt="Pagar" border="0" align="absbottom" >

          </div>
        </form>
      </div>
    </div>
';
                    
          echo '
          <li data-theme="a" data-role="list-divider">Frete</li>
          <li data-icon="gear">
            <a style="text-decoration:none" data-rel="popup" data-transition="slideup" href="#popupMenu">
               R$ '.number_format($frete, 2, '.', '').'
              <span class="ui-li-count">
                PAC Correios
              </span></a>
          </li>


          <li data-role="list-divider">Total</li>
          <li data-icon="check">
            <a style="text-decoration:none" href="#popupCheckout" data-rel="popup" data-position-to="window" data-transition="pop">
               R$ '.number_format($total, 2, '.', '').'
              <span class="ui-li-count">
                Comprar
              </span></a>
          </li>';
	
        }
        else
        {
          echo '<li data-icon="check">
            <a style="text-decoration:none" href="index.php" data-transition="pop">
               R$ 0
              <span class="ui-li-count">
                Vazio
              </span></a>
          </li>';
        }
      ?>

       </ul>
    </div>

<?
  if (isset($bcash)) echo $bcash;
?>

