    <div data-role="content" role="main">
      <div data-role="fieldcontain" data-inline="true">
      <?php
        if ( isset($prd_info) ) 
        {
            echo '<label for="text-basic">ID</label><input disabled="disabled" name="text-basic" id="text-basic" value="'.$prd_info['id_'].'" type="text">';
            echo '<label for="text-basic">Data de criação</label><input disabled="disabled" name="text-basic" id="text-basic" value="'.$prd_info['dtc'].'" type="text">';
            echo '<label for="textarea-1">ID Categoria</label><input disabled="disabled" name="text-basic" id="text-basic" value="'.$prd_info['id_ctg'].'" type="text">';
            echo '<label for="text-basic">Nome</label><input name="text-basic" id="text-basic" value="'.$prd_info['nme'].'" type="text">';
            echo '<label for="textarea-1">Descrição</label><textarea cols="40" rows="8" name="textarea-1" id="textarea-1">'.$prd_info['dsc'].'</textarea>';
            echo '<label for="text-basic">Preço</label><input name="text-basic" id="text-basic" value="'.$prd_info['prc'].'" type="text">';
            echo '<label for="text-basic">Estoque</label><input name="text-basic" id="text-basic" value="'.$prd_info['stq'].'" type="text">';
            echo '<label for="text-basic">Alterar</label><input name="file" id="file" value="'.$prd_info['img'].'" type="file">';
            echo '<label for="text-basic">Imagem</label><img src="'. BASE_URL . $prd_info['img'] . '">';
	    }
      ?>      
      </div>
    </div>
