    <div data-role="content" role="main">

      <form action="crud.php" method="post" accept-charset="utf-8">
        <p>
          <label for="first_name"><strong>Primeiro Nome</strong></label>

        </p>
        <p>
          <label for="last_name"><strong>Último Nome</strong></label>

        </p>
        <p>
          <label for="nme"><strong>Nome de Usuário</strong></label>

          <small>Somente letras e números são permitidos.</small>
        </p>
        <p>
          <label for="email"><strong>Email</strong></label>

        </p>
        <p>
          <label for="pass1"><strong>Senha</strong></label>

          <small>Deve ter entre 6 e 20 caracteres, com pelo menos uma minúscula, uma maíuscula e um número.</small>
        </p>
        <p>
          <label for="pass2"><strong>Confirmar Senha</strong></label>

        </p>
    
        <input data-theme="a" type="submit" value="Adicionar" />
         
      </form>

    </div>
    