    <div data-role="content" role="main">
      <div data-role="fieldcontain" data-inline="true">
        <form data-ajax="false" name=usrupt action=<?php echo '"usr.php?uid='.$uid.'"'?> method="post" accept-charset="utf-8">
          <input data-theme="a" type="submit" value="Adicionar" />                    
          <p><label for="first_name"><strong>First Name</strong></label><?php update_form_input('first_name', $usr_info['first_name'], 'false', 'text', $reg_errors); ?></p>          
          <p><label for="last_name"><strong>Last Name</strong></label><?php update_form_input('last_name', $usr_info['last_name'], 'false', 'text', $reg_errors); ?></p>
          <p><label for="nme"><strong>Desired Username</strong></label><?php update_form_input('nme', $usr_info['nme'], 'true', 'text', $reg_errors); ?></p>
          <?php echo '<input name="nme" type="hidden" value="'.$usr_info['nme'].'">';?>          
          <p><label for="email"><strong>Email Address</strong></label><?php update_form_input('email', $usr_info['email'], 'true', 'text', $reg_errors); ?></p>
          <?php echo '<input name="email" type="hidden" value="'.$usr_info['email'].'">';?>
          <p><label for="pass1"><strong>Alter Password</strong></label><?php update_form_input('pass1', '', 'false', 'password', $reg_errors); ?><small>Must be between 6 and 20 characters long, with at least one lowercase letter, one uppercase letter, and one number.</small></p>
          <p><label for="pass2"><strong>Confirm Password</strong></label><?php update_form_input('pass2', '', 'false', 'password', $reg_errors); ?></p>          
        </form>
      </div>
    </div>
